*

!consultor-premiacao.html
!supervisor-premiacao.html
!testes.html
!documentacao.html
!styles.css
!config.js
!access-control.js
!premiacao-rules.js
!bitrixCarteiraService.js
!logo-empresa.svg
!logo-empresa.png
!nginx.conf
